In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [ ]:
df = pd.read_json("../Data/Raw/flipkart_fashion_products_dataset.json")

In [ ]:
df_figures = df[['_id','actual_price','discount','average_rating','selling_price']]

In [ ]:
df_facts = df[['_id','brand','category','crawled_at','out_of_stock','seller','sub_category','title']]

In [ ]:
df_figures['actual_price'] = df_figures['actual_price'].str.replace('₹', '').str.replace(',', '').str.strip()
df_figures['discount'] = df_figures['discount'].str.replace('%', '').str.replace(',', '').str.replace('off', '').str.strip()
df_figures['average_rating'] = df_figures['average_rating']
df_figures['selling_price'] = df_figures['selling_price'].str.replace('₹', '').str.replace(',', '').str.strip()

In [ ]:
df_figures.head()

In [ ]:
df_figures.info()

In [ ]:
df_figures.loc[df_figures['actual_price'] == "", 'actual_price'] = np.nan

In [ ]:
df_figures.loc[df_figures['discount'] == "", 'discount'] = np.nan

In [ ]:
df_figures.loc[df_figures['selling_price'] == "", 'selling_price'] = np.nan

In [ ]:
df_figures.loc[df_figures['average_rating'] == "", 'average_rating'] = np.nan

In [ ]:
df_figures['actual_price'] = df_figures['actual_price'].astype(float)
df_figures['discount'] = df_figures['discount'].astype(float)
df_figures['selling_price'] = df_figures['selling_price'].astype(float)
df_figures['average_rating'] = df_figures['average_rating'].astype(float)

In [ ]:
cols = ['actual_price', 'selling_price', 'average_rating', 'discount']
df_figures = df_figures[~df_figures[cols].isna().all(axis=1)]

In [20]:
df_figures.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29998 entries, 0 to 29999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             29998 non-null  object
 1   actual_price    29137 non-null  float64
 2   discount        29059 non-null  float64
 3   average_rating  27554 non-null  float64
 4   selling_price   29998 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1.4+ MB

In [19]:
df_facts.head()

,_id,brand,category,crawled_at,out_of_stock,seller,sub_category,title
0,fa8e22d6-c0b6-5229-bb9e-ad52eda39a0a,York,Clothing and Accessories,2021-02-10 20:11:51,False,Shyam Enterprises,Bottomwear,Solid Men Multicolor Track Pants
1,893e6980-f2a0-531f-b056-34dd63fe912c,York,Clothing and Accessories,2021-02-10 20:11:52,False,Shyam Enterprises,Bottomwear,Solid Men Blue Track Pants
2,eb4c8eab-8206-59d0-bcd1-a724d96bf74f,York,Clothing and Accessories,2021-02-10 20:11:52,False,Shyam Enterprises,Bottomwear,Solid Men Multicolor Track Pants
3,3f3f97bb-5faf-57df-a9ff-1af24e2b1045,York,Clothing and Accessories,2021-02-10 20:11:53,False,Shyam Enterprises,Bottomwear,Solid Men Multicolor Track Pants
4,750caa3d-6264-53ca-8ce1-94118a1d8951,York,Clothing and Accessories,2021-02-10 20:11:53,False,Shyam Enterprises,Bottomwear,"Solid Men Brown, Grey Track Pants"

In [21]:
df_facts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           30000 non-null  object
 1   brand         30000 non-null  object
 2   category      30000 non-null  object
 3   crawled_at    30000 non-null  datetime64[ns]
 4   out_of_stock  30000 non-null  bool
 5   seller        30000 non-null  object
 6   sub_category  30000 non-null  object
 7   title         30000 non-null  object
dtypes: bool(1), datetime64[ns](1), object(6)
memory usage: 1.6+ MB

In [35]:
df_facts = df_facts[df_facts['brand']!=""]
df_facts = df_facts[df_facts['seller']!=""]

In [38]:
df_facts.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26535 entries, 0 to 29998
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           26535 non-null  object
 1   brand         26535 non-null  object
 2   category      26535 non-null  object
 3   crawled_at    26535 non-null  datetime64[ns]
 4   out_of_stock  26535 non-null  bool
 5   seller        26535 non-null  object
 6   sub_category  26535 non-null  object
 7   title         26535 non-null  object
dtypes: bool(1), datetime64[ns](1), object(6)
memory usage: 1.6+ MB

In [47]:
df_figures = df_figures[~df_figures.applymap(lambda x:x =="" or pd.isnull(x)).any(axis=1)]

C:\Users\MICILMEDS\AppData\Local\Temp\ipykernel_60316\2365997443.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_figures = df_figures[~df_figures.applymap(lambda x:x =="" or pd.isnull(x)).any(axis=1)]

In [49]:
df_final = pd.merge(df_figures, df_facts, on='_id', how='inner')

In [52]:
df_final.to_excel("../Data/Cleaned/cleaned_data.xlsx", index=False)